* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1b1d33, #0b0f2c, #0b0672);
  color: #333;
  overflow: hidden;
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 600px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: linear-gradient(90deg, #00bfff, #2563eb);
  color: white;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.left h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.left h2 {
  font-size: 1.8rem;
  color: #e0e0ff;
  margin-bottom: 10px;
}

.left p {
  font-size: 1rem;
  line-height: 1.7;
  color: #e8e8ff;
  opacity: 0.95;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auth-container {
  position: relative;
  width: 360px;
  height: 520px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.6s ease;
}

.forms {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
}

.auth-container.signup-mode .forms {
  transform: translateY(-50%);
}

/* FORM STYLES */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px 25px;
  height: 50%;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #6c63ff;
  font-weight: 700;
}

p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 28px;
  text-align: center;
}

.input-box {
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border 0.3s;
}

.input-box input:focus {
  border-color: #6c63ff;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #5146d6;
}

.toggle {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #555;
  cursor: pointer;
}

.toggle span {
  color: #6c63ff;
  font-weight: 600;
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }

  .left {
    padding: 40px 25px;
    text-align: center;
  }

  .right {
    padding: 20px 0;
  }
}